@model IEnumerable<FriBergs_CarRental.Models.Car>

@{
    ViewData["Title"] = "Index";
}


<h1>Bilar</h1>

@if (User.IsInRole("Admin"))
{
    <h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Images)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Model)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Brand)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Images.Count)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Model)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Brand)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@if (User.IsInRole("Customer") || !User.Identity.IsAuthenticated)
{
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                            <img src="@item.Images[0]" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">@item.Brand</h5>
                                <h5 class="card-text">@item.Model</h5>
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Se mer detaljer!</a>
                            </div>
                    </div>
                </div>
            }
        </div>
    </div>
}

@{
    Layout = "_Layout";
    ViewBag.HideNavBar = false;
}


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

