@model IEnumerable<FriBergs_CarRental.Models.Car>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10">

            <h1>Bilar</h1>

            @if (User.IsInRole("Admin"))
            {

                <p>
                    <a asp-action="Create" class="btn btn-primary">Ny bil</a>
                </p>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Antal bilder
                            </th>
                            <th>
                                Tillverkare
                            </th>
                            <th>
                                Modell
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Images.Count)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Brand)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Model)
                                </td>
                              
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id">Ändra</a> |
                                    <a asp-action="Details" asp-route-id="@item.Id">Detaljer</a> |
                                    <a asp-action="Delete" asp-route-id="@item.Id">Radera</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }

            @if (User.IsInRole("Customer") || !User.Identity.IsAuthenticated)
            {
                <div class="container">
                    <div class="row">
                        @foreach (var item in Model)
                        {
                            <div class="col-md-4 mb-4">
                                <div class="card h-100 d-flex flex-column">
                                    <img src="@item.Images[0]" class="card-img-top" style="height: 200px; object-fit: cover;">
                                    <div class="card-body d-flex flex-column">
                                        <h5 class="card-title" style="min-height: 2.5rem;">@item.Brand</h5>
                                        <p class="card-text" style="min-height: 2.5rem;">@item.Model</p>
                                        <div class="mt-auto">
                                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Se mer detaljer!</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

